*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
client_secret_131473745863-bg6vamm27gmgp6e8t5koqaibfoes5i62.apps.googleusercontent.com.json
app/.gitignore
my-release-key.jks
upload_certificate.pem
app/release/*
/.agent*